fastapi
uvicorn
sqlalchemy
mysql-connector-python
pydantic
pydantic-settings
python-multipart
python-jose
passlib
bcrypt
cryptography
# --- Machine Learning (Tanpa Versi = Biar Render Pilih Sendiri) ---
joblib
scikit-learn
numpy
pandas
scipy
# --- Utilities ---
python-dotenv
requests
email-validator
# --- Dependencies Tambahan ---
annotated-types
anyio
attrs
certifi
cffi
charset-normalizer
click
colorama
ecdsa
filelock
fsspec
greenlet
h11
httpcore
httptools
httpx
idna
jsonschema
jsonschema-specifications
packaging
pyasn1
pycparser
pydantic_core
PyJWT
python-dateutil
pytz
PyYAML
referencing
rpds-py
rsa
six
sniffio
sse-starlette
starlette
threadpoolctl
tqdm
typer-slim
typing-extensions
tzdata
urllib3
watchfiles
websockets